# Looker Conversational Analytics Configuration
LOOKER_BASE_URL=https://ceworkshops.cloud.looker.com
LOOKER_CLIENT_ID=specify your own user id / secret
LOOKER_CLIENT_SECRET=specify your own user id / secret
DEFAULT_MODEL=cymbal_gadgets_boris
DEFAULT_EXPLORE=transactions
PORT=8080
HOST=0.0.0.0
